 .body{
  
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
   
  }
  

    
  
        .tytul{
            height: 130px;
            width: 2000px;
            background-color:lightblue;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 80px;
        }
        
        .tlo2{
            background-color: aqua;
            padding-bottom: 20px;
            padding-top: 20px;
            font-family: 'Courier New', Courier, monospace;
           
        }
       
      
        .lewy_kwadrat{
          background-color: white;
          
        }
